.title_text {
  margin-left: 11%;
  font-size: 35px;
  font-weight: 700;
}

.work_container {
  margin-left: 11%;
  display: inline-flex;
  justify-content: space-between;
  width: 76%;
}

.work_text {
  font-size: 25px;
  font-weight: 600;
  width: 40%;
}
.work_container_wrapper {
  width: 60%;
  display: block;
}
.experience_cotainer {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.exp_date {
  font-size: 16px;
  width: 30%;
}
.work_details {
  width: 60%;
}
.designation {
  font-weight: 600;
  font-size: 20px;
}
.hr {
  height: 0.5px;
  border-width: 0;
  color: gray;
  background-color: rgb(187, 184, 184);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
.skills_wrapper {
  width: 43%;
}
.heading {
  font-weight: 600;
}
.smallDot {
  width: 10px;
  height: 10px;
  background-color: black;
}

@media only screen and (max-width: 550px) {
  .title_text {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
  }

  .work_container {
    margin-left: 20px;
    display: block;
    width: 100%;
  }
  .experience_cotainer {
    display: block;
    margin-bottom: 20px;
  }
  .exp_date {
    font-size: 16px;
    width: 100%;
  }
  .work_details {
    width: 100%;
  }
  .work_text {
    font-size: 25px;
    font-weight: 600;
    width: 40%;
    margin-bottom: 10px;
  }
  .work_details {
    width: 100%;
  }
  .work_container_wrapper {
    width: 80%;
    display: block;
  }
  .skills_wrapper {
    width: 80%;
  }
  .work_text {
    font-size: 25px;
    font-weight: 600;
    width: 80%;
  }
  .designation {
    font-size: 20px;
    font-weight: 600;
  }
  .hr {
    height: 0.5px;
    border-width: 0;
    color: gray;
    background-color: rgb(187, 184, 184);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
  }
}
